body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

#calendar-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#month-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#prev-month, #next-month, #select-month-year {
    background-color: #0073e6;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#prev-month, #next-month {
    font-size: 16px;
}

#select-month-year {
    font-size: 14px;
}

#current-month-year {
    font-size: 20px;
    font-weight: bold;
}

#calendar {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#days-of-week {
    display: flex;
    justify-content: space-between;
    background-color: #eee;
    font-weight: bold;
}

#days-of-week div {
    width: 14.28%;
    text-align: center;
}
#calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0; /* Elimina el espacio entre las cuadrículas */
}

.calendar-day {
    width: 100%; /* Ancho al 100% del contenedor */
    height: 100px; /* Altura de cada cuadrícula */
    text-align: center;
    line-height: 100px; /* Centro del texto verticalmente */
    border: 1px solid #ccc;
    margin: 0;
    padding: 0;
}